
/* GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #000;
}
.max-width {
    max-width: 85%;
    margin: 0 auto;
}

/* HEADER */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}
.header-top .menu {
    display: flex;
    align-items: center;
    gap: 15px;
}
.header-top ul {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-top ul li{
    padding: 10px;
}
.header-top ul li a {
    display: block;
    color: #656565;
    transition: all .5s;
}
.header-top ul li:hover a{ 
    transform: translateY(-5px);
}
.header-top .menu .btn {
    background-color: #ee7c0d;
    color: #000;
    font-weight: bold;
    border-radius: 5px;
    padding: 15px 20px;
}

#btnMobile {
    display: none;
}
.header-top .menu ul .btn {
    display: none;
}

/* Responsivo Menu */
@media (max-width: 580px) {
    .header-top #menu {
        display: block;
        position: absolute;
        width: 100%;
        height: 0px;
        top: 115px;
        right: 0;
        transition: .5s;
        background-color: #fff;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    .header-top #navLinks.active #menu {
        height: auto;
        visibility: visible;
    }
    .header-top #menu a {
        font-size: 20px;
        padding: 1rem .5rem;
        margin: 0 2rem;
        border-bottom: 1px solid #656565;
    }
    .header-top #btnMobile {
        display: flex;
        padding: 1rem 1rem;
        cursor: pointer;
    }
    .header-top .menu .btn{ 
        display: none;
    }
    .header-top .menu ul .btn {
        display: block;
        border-radius: 0;
    }
}

/* SEÇÃO 1 */
.section-1 .banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.banner .img {
    width: 90%;
} 
.banner .img img{
    width: 100%;
} 
.banner .text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}
.banner .text p {
    line-height: 20px;
    color: #656565;
}
.banner .text .autor {
    display: flex;
    align-items: center;
    gap: 15px;
}
.banner .text .autor img {
    width: 50px;
}
.banner .text .autor p span {
    font-weight: bold;
    color: #000;
}

@media (max-width: 768px) {
    .section-1 .banner {
        grid-template-columns: 1fr;
    }
    .banner .img {
        width: 100%;
        max-height: 250px;
        margin-bottom: 20px;
    } 
    .banner .img img{
        height: 100%;
        object-fit: cover;
    } 
}
@media (max-width: 380px) {
    .banner .text h2 {
        font-size: 22px;
    }
    .banner .text p {
        font-size: 14px;
    }
    .banner .text .autor img {
        width: 35px;
    }
    .banner .text .autor p  {
        font-size: 13px;
    }
}

/* ARTIGOS */
.section-2 {
    margin: 3rem 0 1rem 0;
}
.section-2 .artigos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.artigos .artigo img{
    width: 90%;
    margin-left: 5%;
}
.artigos .artigo .text{
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.artigos .artigo .text h2 {
    font-size: 22px;
    margin-top: 15px;
}
.artigos .artigo .text p {
    color: #656565;
}
.artigos .artigo .text .autor {
    display: flex;
    align-items: center;
    gap: 15px;
}
.artigos .artigo .text .autor img{
    width: 50px;
    margin-left: 0;
}
.artigos .artigo .text .autor p{
    font-size: 14px;
    color: #656565;
}
.artigos .artigo .text .autor p span{
    color: #000;
    font-weight: bold;
}
@media (max-width: 768px) {
    .section-2 .artigos {
        grid-template-columns: 1fr;
        gap: 50px;
    }
    .artigos .artigo img{
        width: 100%;
        margin-left: 0;
        max-height: 200px;
        object-fit: cover;
    }
    .artigos .artigo .text{
        margin-left: 0;
    }
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 1.5rem 0;
}
.footer p {
    color: #656565;
}

@media (max-width: 580px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}


